.titres {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

.deux {
	display: flex;
	flex-direction: column;

}
.texte {
	text-align: justify;
}

.jumbotron {
	padding-top: 10%;
}