<%= stylesheet_link_tag "main.css" %>

<div class="jumbotron">
	
  <h1 class="display-5 text-center">Bienvenue au Workhouse café!</h1>
  <p class="lead text-center">Prend un américain, assied toi et branche ton ordinateur. Ca va coder dur !</p>
  <hr class="my-4">
  <p class="text-center">Faut tout expliquer à Arnaud mais ça va.</p>
  <p class="lead text-center">
    Ci dessous, mon jQuery tu trouveras. Basique. Simple.
  </p>

</div>
<div class="container"> 

	<div class="titres">
    <h3 class="pres">Présentation</h3>
    <h3 class="menu">Menu</h3>
    <h3 class="services">Services</h3>
  </div>

  <div class="texte">

		<div class="un">
      <p class="text1">Bah on fais du caffé, du hipster et du vegan, normal quoi. J'veux dire aujourd'hui qui mange encore de la viande? Franchement ces pauvres animaux et tout. Puis on fait du caffé. Et des cookies. Maintenant j'y suis Giresse.</p>
    </div>

		<div class="un">
     <p class="text2">Uninstall this game noob! You don't even know how to make a proper gank you fckg idiot. Stay in bronze for ever and die there, dumbass! Muted</p>
    </div>

    <div class="un">
      <p class="text3"> OUi euhhhhhhhh. Y a 200€ euuuuuuuuh, qu'on vous rendra plus taaaaaard mouiiiiii voyeeeeeeez. C'est ouvert à tout le mondeuuuuuuuuuuh, meme les gros debutant ces pd de nooooooooooobs. Bande de sguegues.</p>
    </div>
  </div>
</div>
