<%= stylesheet_link_tag "main.css" %>

<div class="jumbotron">
	
  <h1 class="display-3 text-center">Bienvenue au Workhouse café!</h1>
  <p class="lead text-center">Prend un américain, assied toi et branche ton ordinateur. Ca va coder dur !</p>
  <hr class="my-4">
  <p class="text-center">Faut tout expliquer à Arnaud mais ça va.</p>
  <p class="lead text-center">
    <a class="btn btn-success btn-lg btn-center" href="presentation" role="button">En savoir plus</a>
  </p>

</div>
<div class="container"> 
	<div class="table">
		<p class="pres">Salut toi</p>
		<div class="un"><p class="menu">ForFuckSake</p><p class="text1">Uninstall nobb!</p></div>
		<p class="services">Czesc</p>
	</div>
</div>
